@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 255, 0.2;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
        rgb(var(--background-start-rgb)),
        rgb(var(--background-end-rgb))
      )
      no-repeat fixed,
    url("/grid.svg");
}
